@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* font color styles */
  .dark-01{
    color: #131313;
  }

  .dark-02{
    color: #424242;
  }
  .dark-03{
    color: #727272;
  }
    /* shared styles */
    .display-flex{
      display: flex;
  }

  .bg-light{
    background-color:rgba(255, 144, 14, 0.10);
  }

  .btn-primary{
    color: white;
    background-color: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    margin-bottom: 50px;
    cursor: pointer;
  }
  .btn-primary:hover{
    background-color: #ff2f00;
    transform: scale(1.05);
  }
  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  main > section{
    margin-top: 130px;
  }
    /* header styles */

  /* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}
    /* banner-related-styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.banner-img{
  width: 100%;
}
  /* team related styles */
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  border-radius: 8px;
}
.teams{
  align-items: center;
}
.feature-title{
  font-size: 2.8rem;
}
.our-features{
  margin-left: 73px;
  max-width: 530px;
}
#quick-list{
  font-weight: 500;
}
#features{
  color: #FF900E;
}
  /* feature related styles */
#feature-section-title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}
 /* box shadow isn't working  (VIP) */
.the-feature-card{
  border-radius: 8px;
  padding: 30px;
  box-shadow:0px 40px 30p 0px rgba( 0, 0, 0, 0.06);
}
.feature-title{
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
#experience-year{
  font-size: 4rem;
  font-weight: 700;  
}
#experience-badge{
  padding: 50px 32px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -90px;
  margin-top: -170px;
}
.featured-architect img{
  width: 100%;

}
  /* some fact related styles */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact{
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.fact-number{
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25;
  font-weight: 600;
  margin-top: 10px;
}
/* sponsor related styles */
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
  filter: grayscale(100%);
}
  /* responsive media query */
@media screen and (max-width: 576px) {
  .navbar, 
  .nav-links, 
  .my-features,
  .teams{
    flex-direction: column;
  }
  .sponsor-companies,
  .facts-container,
  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .sponsor-companies,
  .facts-container{
    justify-items: center;
    gap: 24px;
  }
  .our-features{
    margin-left: 20px;
  }
  #experience-badge{
    margin-left: 20px;
    margin-top: 20px;
  }
}  

  /* medium size devices */
@media screen and (min-width:576px) and (max-width:992px){
  .teams{
    flex-direction: column;
  }

  .team-img-container{
    grid-template-columns: repeat(2, 1fr);
  }

  .our-features{
    margin-left: 50px auto;
  }
  /* this button is not working (VIP) */
  #experience-badge{
    margin-left: 20px;
    margin-top: 20px;
  }
  .sponsor-companies,
  .facts-container{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 50px;
  }
}